---
import Layout from "@layouts/Layout.astro";
import SectionContainer from "@components/SectionContainer.astro";
import Presentation from "@components/Presentation.astro";
import Career from "@components/Career.astro";
---

<Layout title="Pablo Roger - Desarrollador">
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Presentation>
        </slot>
      </Presentation>
      <Career />
    </SectionContainer>
  </main>
</Layout>
